body{
  background-color: #16213e;
}

h1{
  color: white;
  text-align: center;

}

.box1{
position: relative;
margin-top: 5%;
font-family: 'Source Code Pro', monospace;
}

.name{
  color: #e31b6d;
  font-family: 'Raleway', sans-serif;
}

ul{

  top: 50%;
  left:50%;
  right: 50;

  margin: 70px 0 0 0;
  padding: 0;
  display: flex;
}

ul li{
  list-style: none;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 10px;
  margin: 0 40px;
  background: rgba(255,255,255,.2);
  border-radius: 50%;
  color: #6b778d;
  transition: 1s;
}


ul li:hover
{
  background: #e31b6d;
  box-shadow: 0 0 10px #e31b6d,
              0 0 20px #e31b6d,
              0 0 30px #e31b6d,
              0 0 40px #e31b6d;
}

.socialmedia{
  position: relative;
}

.LinkedIn{
  height: 30px;
  width: 30px;
}

.instagram{
  height: 30px;
  width: 30px;
}

.twitter{

  height: 30px;
  width: 30px;
}

